/* center the page */
div {
    margin-left: auto;
    margin-right: auto;
}
/* make the header disappear when
the layout changes to stacked */
@media (max-width: 992px) {
    #header {
        display: none; 
    }
}
/* make the label appear when the header disappears */
@media (min-width: 992px) {
    #header_label {
        display: none; 
        font-style: oblique;
    }
}